@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
/* Fonts */
/* Font-family*/
/* Font-size */
/* Font-weight */
/* Others */
.nav {
  position: relative;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Quicksand", sans-serif;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav__content {
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__content--left {
  margin-right: 10vw;
}
.nav__content--right {
  margin-left: 10vw;
}
.nav__content--home {
  position: absolute;
  background-color: #1E1E1E;
  border-radius: 12vw;
  padding: 6.5vw 6vw;
  top: -3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10vw;
}
.nav__link {
  color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leadCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F47D75;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vh 0;
  padding: 1vh 5vw;
  width: 80vw;
}
.leadCard__position {
  font-family: "Quicksand", sans-serif;
  font-size: 4.5vw;
}
.leadCard__number {
  font-family: "Oswald", sans-serif;
  font-size: 5vw;
}
.leadCard__points {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5vw;
}

.preferency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5vw 2.5vh 5vw;
  width: 80vw;
}
.preferency__title {
  font-family: "Oswald", sans-serif;
  font-size: 7.5vw;
  margin-bottom: 2.5vh;
}
.preferency__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5vh 0;
}
.preferency__category {
  font-family: "Quicksand", sans-serif;
  font-size: 4vw;
  width: 40vw;
}

.identity {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vw;
  position: relative;
  width: 80vw;
  margin-bottom: 15vh;
}
.identity__image {
  border-radius: 35vw;
}
.identity__title {
  background-color: #1E1E1E;
  color: #F3F3F3;
  font-family: "Oswald", sans-serif;
  font-size: 7.5vw;
  padding: 1.5vh 3.5vw;
  position: absolute;
  bottom: 7vh;
}
.identity__rewards {
  position: relative;
  top: 5vh;
}
.identity__badge {
  margin: 0 2.5vw;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}
.profile__logout {
  background-color: #F47D75;
  border-radius: 7.5vw;
  color: #F3F3F3;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  padding: 2vh 5vw;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-score {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  margin: 0 auto;
  height: 80px;
  background-color: #F47D75;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.card-score__title {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 2rem;
  font-weight: 600;
}
.card-score__img {
  position: absolute;
  top: 10%;
  right: 5%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.card-score svg {
  position: absolute;
  top: 0;
  left: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Regles generales */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /*alignement correct des images*/
}