.identity{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    margin-bottom: 12vh;
    
    &__image{
        border-radius: 35vw;
        height: 35vw;
    }

    &__title{
        background-color: $black;
        color: $white;
        font-family: 'Oswald' , sans-serif;
        font-size: 7.5vw;
        padding: 1.5vh 3.5vw;
        position: absolute;
        bottom: 7vh;
    }
    
    &__rewards{
        position: relative;
        top: 5vh;
    }

    &__badge{
        margin: 0 2.5vw;
    }
}